#shopping-cart-section-container {
  padding-top: 15vh;
  height: 85vh;
  display: flex;
  justify-content: space-evenly;
}

#shopping-cart-remove {

}

#shopping-cart-section-price {
  margin-top: 7vh;
  width: 20%;
  border-style: solid;
  height: auto;
  justify-items: center;
  align-self: flex-start;

}

#shopping-cart-section-products {
  margin-top: 7vh;
  width: 40%;
  border-style: solid;
  height: auto;
  align-self: flex-start;

}

@media only screen and (max-width: 1248px) {
  #shopping-cart-section-container{
    flex-direction: column;
    #shopping-cart-section-products {
      width: 90%;
    }
  }
}
