#welcome-screen {
  padding-top: 15vh;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-image: url("https://i.ibb.co/tpVjqfpP/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#welcome-text {
  color: white;
  margin-right: 250px;
  margin-bottom: 70px;
  text-align: center;
  font-size: 40px;
  position: absolute;
  font-weight: bold;
}

#scroll-down {
  color: white;
  margin-top: 65vh;
  margin-right: 24.65vw;
  opacity: 50%;
}
