#individual-item-showcase {
  margin-top: 1rem;
  margin-left: 3rem;
  padding: 0;
}

p {
  margin-left: 0;
  margin-right: 0;
  max-width: 185px;
  max-height: 45px;
  word-wrap: break-word;
}

button {
  margin-left: 2rem;
  padding: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  text-align: center;
  border-radius: 2rem;
  position: absolute;
  top: 155%;
  cursor: pointer;
}

