<section id="checkout">
  <form (ngSubmit)="checkout()">
    <div>
      <label for="address">{{ 'checkout.adres' | translate }}</label>
      <input id="address" type="text" [(ngModel)]="address" name="adres" required>
    </div>
    <div>
      <label for="fullname">{{ 'checkout.naam' | translate }}</label>
      <input id="fullname" type="text" [(ngModel)]="fullname" name="volledige naam" required>
    </div>
    <div>
      <label for="city">{{ 'checkout.stad' | translate }}:</label>
      <input id="city" type="text" [(ngModel)]="city" name="stadsnaam" required>
    </div>
    <div>
      <label for="postcode">{{ 'checkout.postcode' | translate }}:</label>
      <input id="postcode" type="text" [(ngModel)]="postcode" name="postcode" required>
    </div>
    <button type="submit">{{ 'checkout.bevestigen' | translate }}</button>
  </form>
</section>
