#checkout {
  padding-top: 15vh;
  height: 85vh;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

label {
  margin-top: 15px;
  margin-bottom: 5px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
}

button {
  margin-top: 20px;
  padding: 10px;
  background-color: #c1e390;
  color: black;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
  color: white;
}
