
<app-product-overview-head />
@if (Products.length){
  @for (product of Products ; track product.productId){
    @if (this.currentLanguage == "nl"){
    <app-product-overview-card productName="{{product.productName}}" productimg="{{product.imgProduct}}" productprijs ="{{product.price}}" productbrandimg = "{{ product.brand.imgLocation }}" productId="{{ product.productId }}" productBeschrijving="{{product.description}}"/>
    } @else {
      <app-product-overview-card productName="{{product.productName}}" productimg="{{product.imgProduct}}" productprijs ="{{product.price}}" productbrandimg = "{{ product.brand.imgLocation }}" productId="{{ product.productId }}" productBeschrijving="{{product.descriptionEN}}"/>
    }
  }

}


<app-footer />
