<section id="category-choose-section">
  <h1>Kies een categorie</h1>
  <article id="category-container">
    <app-category-block CategorieNaam="Alles" ImgLocatie="https://www.megekko.nl/productimg/967586/mini/1_HP-OMEN-45L-GT22-3225nd-Core-Ultra-9-RTX-5090-32GB-Gaming-Desktop.jpg"/>
    <app-category-block CategorieNaam="Videokaarten" ImgLocatie="https://www.megekko.nl/productimg/297140/mini/1_Gigabyte-GeForce-RTX-5070-AORUS-MASTER-12G-Videokaart.jpg"/>
    <app-category-block CategorieNaam="Processoren" ImgLocatie="https://www.megekko.nl/productimg/999631/nw/1_AMD-Ryzen-Threadripper-7980X.jpg"/>
    <app-category-block CategorieNaam="Moederborden" ImgLocatie="https://www.megekko.nl/productimg/1149028/mini/1_Gigabyte-X870E-AORUS-XTREME-AI-TOP-moederbord.jpg"/>
  </article>
</section>
