<nav>
  <img src="../assets/megekko-logo.png" height="90" width="90" class="logo-image" alt="Foto van logo" [routerLink]="['/']">
  <li class="register/login">

    @if (LoginService.isLoggedIn()){
      <a id="Account-button" [routerLink]="['/user']">Account</a>
    } @else {
      <a id="Register-button" [routerLink]="['/register']">Register</a>
      <a id="Login-button" [routerLink]="['/login']">Login</a>
    }
  </li>
  <form class="search-bar" action="https://www.google.nl/">
    <input type="text" placeholder="Zoek naar een artikel">
    <button type="submit" >Zoeken</button>
  </form>
  <li class="register/login">
    <a [routerLink]="['/products']">Categorieën</a>
  </li>
  <img src="../assets/shopping-cart.jpg" height="50" width="50" class="shopping-cart-image" alt="Shopping cart icon" [routerLink]="['/shopping-cart']">

</nav>
