nav {
  display: flex;
  flex-direction: row;
  height: 15vh;
  width: 100%;
  border-right: none;
  border-left: none;
  position: fixed;
  background-color: white;
  z-index: 1;
}



a {
  text-decoration: none;
  color: black;
}

.shopping-cart-image {
  margin-top: 4vh;
  cursor: pointer;
}



.register\/login {
  list-style: none;
  padding: 0;
  margin-top: 45px;
  width: 20%;
  margin-left: 3rem;

  a {

    padding: 1rem;
    margin-left: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #c1e390;
    font-size: 14px;
    transition: 0.3s
  }

  a:hover {
    background-color: #8cd50a;
    box-shadow: 0 0 0 5px #c1e390;
    color: white;
  }


}

img {
  transition: 0.3s;
}


.search-bar {
  margin-top: 20px;
  margin-left: 110px;
  padding: 0.8rem;

  input {
    padding: 0.7rem;
    width: 20rem;
    border-radius: 0.5rem;
    transition: 0.3s;
    &::placeholder {
      color: black;
      transition: 0.3s;
    }
    &:hover::placeholder{
      color:white;
    }
  }


  input:hover {
    background-color: #8cd50a;
    box-shadow: 0 0 0 5px #c1e390;
    color: black;

  }

  button {
    border-radius: 20rem;
    padding: 1rem;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    background-color: #c1e390;
  }

  button:hover {
    background-color: #8cd50a;
    box-shadow: 0 0 0 5px #c1e390;
    color: white;
  }
}

.logo-image {
  margin-left: 2vw;
  cursor: pointer;
}

.language {
  background-color: #c1e390;
  border-style: none;
  border-radius: 2rem;
  padding: 5px;
  cursor: pointer;
  margin-left: 2rem;
}





@media only screen and (max-width: 1490px) {
  .search-bar {
    input {
      width: 10rem;
    }
  }

  .category-block
  header {
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
  }
}

@media only screen and (max-width: 940px) {
  nav {
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    position: static;
  }
  .register\/login {
    order: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    a {
      margin-left: 0;
      margin-bottom: 5px;
      width: 90%;
      text-align: center;
    }
  }
  .admin-panel-list {
    order: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0;
    a {
      width: 95%;
      text-align: center;
    }

  }

  .search-bar {
    order: 2;
    margin-top: 0;
    input {
      width: auto;
    }
    margin-left: 0;
  }




}







