<header>
  <li class="register/login">
    <a href="http://www.google.nl">Register</a>
    <a>Login</a>
    <a [routerLink]="['/products']">Categorieën</a>
  </li>
  <form class="search-bar" action="https://www.google.nl/">
    <input type="text" placeholder="Zoek naar een artikel">
    <button type="submit" >Zoeken</button>
  </form>
  <li class="admin-panel-list">
    <a>Admin paneel</a>
  </li>
  <img src="../assets/shopping-cart.jpg" height="50" width="50" class="shopping-cart-image" alt="Shopping cart icon">
  <img src="../assets/megekko-logo.png" height="90" width="90" class="logo-image" alt="Foto van logo" [routerLink]="['/']">
</header>
