body {
  background-image: url("https://cdn.discordapp.com/attachments/1234076578439499836/1349003813838651504/background.png?ex=67d18534&is=67d033b4&hm=4935ef0384d08a7b31c1db3884c7b8e8f57c96008fdd5cd348a994e9cb4660e3&");
  background-repeat: no-repeat;
  background-size: cover;
}
