.category-block {
  padding: 1rem;
  border-style: solid;
  width: auto;
  height: 15rem;
  margin-top: 2rem;
  cursor: pointer;
}

p {
  text-align: center;
}

img {
  margin-top: 1rem;
  margin-left: 2.6rem;
}


