<section id="register-form">
  <form (ngSubmit)="register()">
    <p id="grote-tekst">{{ 'registreer-form.registreer' | translate }}</p>
    <div class="inloggen-email">
      <label for="email">Email:</label>
      <input id="email" type="email" [(ngModel)]="email" name="email" required>
    </div>
    <div class="inloggen-email">
      <label for="email">{{ 'registreer-form.voornaam' | translate }}</label>
      <input id="Voornaam" type="text" [(ngModel)]="voornaam" name="voornaam" required>
    </div>
    <div class="inloggen-email">
      <label for="password">Password:</label>
      <label class="password-recommendation">{{ 'registreer-form.wachtwoord' | translate }}</label>
      <label class="password-recommendation">{{ 'registreer-form.wachtwoord2' | translate }} </label>
      <input id="password" type="password" [(ngModel)]="password" name="password" required>
    </div>
    <button type="submit">{{ 'registreer-form.registreer' | translate }}</button>
  </form>
</section>
