#product-sale {
  height: 65vh;
  display: none;
  flex-direction: column;
  background-color: #e0e0e0;
  margin: 1rem;
  border-radius: 2rem;
  margin-bottom: 20vh;
}

#korting-p-tag {
  margin-left: 50px;
  margin-top: 15px;
  font-size: 40px;
  margin-bottom: 20px;
  color: #8cd50a;
  font-weight: bold;
}
