<app-header />


  @if (Products){

    <section id="product-details">
      <button (click)="backClicked()">terug<br><-</button>
      <img src="{{Products.imgProduct}}" width="300px" height="300px">
      <div id="product-details-container">
      <p id="product-details-naam">{{Products.productNaam}}</p>
      <p id="product-details-prijs">€{{Products.prijs}}</p>
      <p id="product-details-voorraad">Hoeveelheid op voorraad: {{ Products.hoeveelheid }}</p>
      <p id="product-details-categorie">Categorie: {{Products.categorie.categoryName}}</p>
      <p id="product-details-brand">Merk: {{Products.brand.merkNaam}}</p>
    </div>
    </section>
    <section id="product-details-met-specificaties">
      <h1>Beschrijving:</h1>
      <p id="product-details-beschrijving">{{ Products.beschrijving }}</p>
    </section>
    <button (click)="shoppingcart.AddToCart(Products)">koop lol</button>

  }

<app-footer />

