#product-overview-head{
  padding-top: 15vh;
  height: 30vh;

  background-color: #b5d38d;
}

h1 {
  font-size:3rem;
  margin-top: 4rem;
  margin-left: 2rem;
}

p {
  margin-left: 2.1rem;
}

@media only screen and (max-width: 940px) {
  #product-overview-head{
    height: 20vh;
    h1 {
      margin-bottom: 2340vh;
    }
  }
}
