@if (shoppingcart.totalCost != 0){
  <section id="shopping-cart-section-container">
    <section id="shopping-cart-section-products">
      <button id="empty-cart" (click)="shoppingcart.EmptyCart()">{{ 'winkelwagen.leeghalen' | translate }}</button>
      @if (Products){
        @for (product of Products ; track product){
      <app-shopping-cart-product productImg="{{product.imgProduct}}" productNaam="{{product.productName}}" [productPrijs] = "product.price" [productWinkelwagen]="product.amountInCart"/>
        }
      }
    </section>
    <section id="shopping-cart-section-price">
      <p>€{{shoppingcart.totalCost}}</p>

        <button id="checkout-button" [routerLink]="['/checkout']">Checkout</button>

    </section>
  </section>
}
