#register-form {
  padding-top: 15vh;
  height: 45vh;
  background-color: #c1e390;
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 40vh;
  justify-content: center;
}

#grote-tekst{
  font-size: 5vw;
  text-align: center;
  margin-bottom: 15vh;
}

.inloggen-email {
  display: flex;
  flex-direction: column;

  margin-bottom: 5vh;
  input{
    padding-right: 20vw;
  }
}

button {
  margin-left: 45%;
}

#password-recommendation {
  opacity: 40%;
}


