footer {
  height: 30vh;
  border-style: solid;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  background-color: #62a608;
}

p {
  color: white;
  margin-left: 2vw;
  margin-top: 2vw;
}
